name: ci

on:
    push:
        branches:
            - 'dev'

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v2

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Build Image
              run: docker build -f Dockerfiles/Dockerfile.feBuild -t ${{ secrets.DOCKER_HUB_USERNAME }}/fs-docker-fe:latest .

            - name: Login to DockerHub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_PASSWORD }}

            - name: Push Image to Docker Hub
              run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/fs-docker-fe:latest
